@import './styles/tailwind.css';

@keyframes flipInY {
  0% {
     transform: perspective(400px) rotateY(90deg);
     opacity: 0;
  }
  40% {
     transform: perspective(400px) rotateY(-10deg);
  }
  70% {
     transform: perspective(400px) rotateY(10deg);
  }
  100% {
     transform: perspective(400px) rotateY(0deg);
     opacity: 1;
  }
} 

@media (prefers-reduced-motion: no-preference) {
  .team-animation {
    animation-name: flipInY;
    animation-duration: 5s;
    animation-iteration-count: 1;
  }
}





  .section-white{
    background: #090505;
    padding: 70px 0;
  }

  .team-item{
    background: #e00606;
    text-align :center;
    margin: 20px 0;
    padding: 50px 20px 40px 20px;
    border-radius: 8px 8px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }

  .section-title{
    font-size: 100px;
  }

  .team-item:hover{
    background: blue;
    color: white;
  }

  .team-item h3 {
    margin: 20px 0 1px 0 !important;
    color: red;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }

  .section-subtitle {
    white-space: pre-line;
  }

  .team-item:hover h3{
    color: black;
  }

  .team-info{
    display: block;
    margin-bottom: 0;
  }
  .team-info p {
    color: bisque;
    font-style: italic;
  }

  .team-info::after{
    background:blue;
    background: -webkit-linear-gradient(
      135deg, blue, blue 
    );
    background: -o-linear-gradient(
      135deg, blue, blue
    );
    background: -moz-linear-gradient(
      135deg, blue, blue
    );
    background: linear-gradient(
      135deg, blue, blue
    );

    display: inline-block;
    vertical-align: middle;
    content: '';
    width : 5px;
    height: 3px;
    margin-top: -20px;
  }

  .team-img {
    max-width: 140px;
    padding: 6px 6px;
    background-color: wheat;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }

  ul.team-icon {
    margin-top: 25px;
  }

  ul.team-icon li{
    display: inline-block;
    margin: 0 3px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }

  ul.team-icon li a{
    margin: 0;
    display: inline-block;
    padding: 8px 8px;
    width:34px;
    height:34px;
    font-size: 18px;
    line-height: 18px;
    background-color: aliceblue;
    border-radius: 50%;
    color: blueviolet;
  }

  .team-img{
    height: 200px;
    width: 200px;
    margin: auto;
  }

  