@import './styles/tailwind.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




.image{
  position:relative;
  height: 100vh;
  width:100vw;
}

.content{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vh;


}

.content span.text{
  background-color: #333;
  text-transform: uppercase;
  color:#fff;
  padding: 1rem;
  font-size:1.5rem;
  letter-spacing: 10px;
}