.contact-page {
  background-image: url('../assets/images/q3.png'); /* Adjust the path based on your project structure */
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 20px;
}
/* ContactPage.css */
.contact-page h1 {
  color: blue;
}

.contact-info {
  color: green;
}
.my-special-paragraph {
  font-size: 24px; /* Set the font size for the text inside the <p> element with class 'my-special-paragraph' */
}

.my-special {
  font-size: 38px;
  text-decoration: underline; /* Set the font size for the text inside the <p> element with class 'my-special-paragraph' */
}
/* Add styles to move labels upwards */
form label {
  display: block; /* Ensures labels are displayed as blocks to apply margin */
  margin-bottom: 8px; /* Adjust the margin as needed */
}


/* Style input boxes */
form input[type="text"],
form input[type="email"],
form textarea {
  background-color: white; /* Set the background color of input boxes and textarea */
  color: black; /* Set the text color inside input boxes and textarea */
  padding: 8px; /* Add padding for better visual appearance */
  margin-bottom: 12px; /* Adjust the margin as needed */
  width: 20%; /* Ensure the input boxes and textarea span the full width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  border-radius: 8px; /* Set border-radius to make the corners rounded */
  border: 1px solid #ccc; /* Add a border for better visibility */
}

/* Style the submit button */


.confirmation-message {
  color: red;
}
form {
  text-align: center;
}
.social-icons {
  text-align: center;
  margin-top: 20px;
}

.icon-button {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  color: #333; /* Adjust the color as needed */
}

.icon-button:hover {
  color: #007bff; /* Change color on hover */
}