/* ContactPage.css */
.contact-page h1 {
  color: blue;
}



.my-special {

  text-decoration: underline; /* Set the font size for the text inside the <p> element with class 'my-special-paragraph' */
}
/* Add styles to move labels upwards */
form label {
  display: block; /* Ensures labels are displayed as blocks to apply margin */
  margin-bottom: 8px; /* Adjust the margin as needed */
}